.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.66);
    min-width: 300px;
    min-height: 500px;
    width: fit-content;
    max-height: 80%;
    z-index: 20;
    border-radius: 5px;
    padding: 20px 50px;
    
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}

.modal::-webkit-scrollbar {
    display: none;
  }
  
 

.shadow {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.206);
    z-index: 15;
}
