.header {
    width: 100%;
    margin-bottom: 10px;
}

.aboveNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.logoInformation {
    display: flex;
    align-items: center;
}

.logo {
    background-image: url("../../../public/logo.png");
    width: 40px;
    height: 53px;
    background-size: 100% 100%;
    margin-right: 20px;
}

.logoName {
    font-size: 26px;
}

.notification{
    margin-left: 20px;
    width: 20px;
    height: 24px;
}

.div{
    display: flex;

}

.nav{
    width: 100%;
    border-top: 1px #CACACA solid;
    padding: 10px 0;

}

.link{
    all: unset;
    padding: 10px 30px;
}

.primaryLink{
    border-top: 2px #0167FF solid;
}